    <form class="form edit-post-form">
      <div class="form-group">
        <label for="post-title">post title:</label>
        <input class="form-input" type="text" id="edit-content" title="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">content:</label>
        <textarea class="form-input" id="edit-content" title="post-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>